
.search-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
  }

.search-input{
    width: 60%;
    box-shadow: 2px 2px 5px red;
}

.search-btn{
    margin-left: 5px;
    text-shadow: 2px 2px 5px red;
    box-shadow: 2px 2px 5px red;
    font-style: italic;
}