

.pot-btn{
    background-image: url('./Assets/GumboPot2.png');
    height: 20rem;
    width: 29rem;
    background-position: initial;
    max-width: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin-top: 2rem;
}

.pot-btn-text{
    color: white;
    font-weight: 900;
}

button:hover{
    background-color: white;
}